h1 {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
}

p {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

.forgot-pswd-container {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.main-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.main-section input {
  width: 13rem;
  height: 1.5rem;
  border-radius: 0.5rem;
  border: 0.1rem solid black;
}
.button-section button {
  width: 10rem;
  height: 2rem;
  cursor: pointer;
}
